### What is Pandas

Pandas is a fast,powerful,flexible and easy to use open source data analysis and manipulation too,built on top of the python language

#### Pandas series

A panda series is like a column in a table.it is a 1-d array holding data of any type

### Importing pandas

In [7]:
import numpy as numpy
import pandas as pd

#### Series from lists

In [4]:
# String
country = ['India','Pakistan','USA','Sri Lanka']

countrySeries = pd.Series(country)

print(countrySeries)

0        India
1     Pakistan
2          USA
3    Sri Lanka
dtype: object

In [5]:
#integers

runs = [15,82,78,95]

seriesOfRuns = pd.Series(runs)

print(seriesOfRuns)

0    15
1    82
2    78
3    95
dtype: int64

In [6]:
#custom index
marks = [45,78,89]
subjects = ['maths','phy','chem']

pd.Series(marks,index=subjects)

maths    45
phy      78
chem     89
dtype: int64

In [7]:
#setting a name

pd.Series(marks,index=subjects,name='vasu ke marks')

maths    45
phy      78
chem     89
Name: vasu ke marks, dtype: int64

#### Series from dict

In [8]:
marks = {
    'maths':89,
    'phy':78,
    'chem':45
}

marks_series = pd.Series(marks,name = 'marks of xyz')
print(marks_series)

maths    89
phy      78
chem     45
Name: marks of xyz, dtype: int64

#### Setting attributes

In [ ]:
# size
marks_series.size

3

In [11]:
# name
marks_series.name

'marks of xyz'

In [ ]:
# is_unique
marks_series.is_unique

pd.Series([1,2,1,5,4,6,7,1]).is_unique

True

In [18]:
# index 
marks_series.index # this is dictionary

Index(['maths', 'phy', 'chem'], dtype='object')

In [22]:
seriesOfRuns.index #this is list

RangeIndex(start=0, stop=4, step=1)

In [24]:
# values
marks_series.values # it return numpy array

array([89, 78, 45])

#### Series using read_csv

In [ ]:
# with one col
subscribers = pd.read_csv('subs.csv').squeeze("columns")
# type(pd.read_csv('subs.csv'))# dataframe
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
# with two col
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no').squeeze("columns")
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
# with three col
movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze("columns")
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object